<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Links ancoras</title>
    </head>
    <body>
        <h1>Usando links externos</h1>
        <p>Vc pode acessar meu <a href="https://gustavoguanabara.github.io" rel="external" target="_blank">repositorio publico no github</a></p>        
        <p>Vc pode tambem meu canal gratuito do <a href="https://youtube.com/cursoemvideo" rel="external" target="_blank">youtube </a></p>
        <p>Esta é minha primeira pagina para ir para segunda pagina clique <a href="pag002.html" rel="next">aqui</a></p>
        <p><a href="../noticias/pag003.html" target="self" rel="next">noticias</a></p>
    </body>
</html>