<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>Desafio do emojis</title>
  </head>
  <body>
    <h1>Desafio 004</h1>
    <h2>Carinhas</h2>
    <ul type="square">
      <li>&#x1F970; codigo hex...: U+1F970</li>
      <li>&#x1F929; codigo hex...: U+1F929</li>
      <li>&#x1F92A; codigo hex...: U+1F92A</li>
    </ul>

    <h2>Mãozinhas</h2>
    <ul>
      <li>&#x1F44B; codigo hex...:  U+1F44B</li>
      <li>&#x1F90C; codigo hex...:  U+1F90C</li>
      <li>&#x1F44C; codigo hex...:  U+1F44C</li>
    </ul>

    <h2>Animais</h2>
    <ul>
      <li>&#x1F648; codigo hex...: U+1F648</li>
      <li>&#x1F415; codigo hex...: U+1F415</li>
      <li>&#x1F431; codigo hex...: U+1F431</li>
    </ul>

    <h2>Esportes</h2>
    <ul>
      <li>&#x1F93A; codigo hex...: U+1F93A</li>
      <li>&#x1F3D0;  codigo hex...: U+1F3D0</li>
      <li>&#x1F3BE; codigo hex...: U+1F3BE</li>
    </ul>
    <h2>Comidas</h2>
    <ul>
      <li>&#x1F349; codigo hex...: U+1F349</li>
      <li>&#x1F354; codigo hex...: U+1F354</li>
      <li>&#x1F355; codigo hex...: U+1F355</li>
    </ul>
    <h2>Objetos</h2>
    <ul>
      <li>&#x1F48C; codigo hex...:  U+1F48C</li>
      <li>&#x23F0;  codigo hex...:  U+23F0</li>
      <li>&#x1F4BB; codigo hex...: U+1F4BB</li>
    </ul>


  </body>
</html>
